html {
  overflow-y: scroll;
}

body {
  padding-bottom: 75px;
  /* font-family: 'Roboto', sans-serif; */
}

.badge {
  border-radius: 2px;
}

.priceIcons{
  float: right;
}

/*Remove Mozilla Firefox Border – Remove Dotted Line Around Link */
a:focus {
    outline: none;
}
