[Radiohuset]
url=https://radionsskafferi.gastrogate.com/lunch/
type=Gastrogate

[Filmhuset]
url=http://filmhuset.kvartersmenyn.se/
type=Filmhuset

[Sidahuset]
url=https://www.restaurangkaravan.se/
type=Sidahuset

[Londoner]
url=https://thelondoner.gastrogate.com/lunch/
type=Gastrogate

[Styrmans stekhus]
url=https://styrmansstekhus.se/lunch/
type=Styrman

[Eriks bakficka]
url=https://www.eriks.se/bakfickan/media/lunchmeny
type=Eriksbakficka
